
* {
   margin: 0px;
}

body {
   font-family: "Open Sans", sans-serif;
}

a {
   margin: 0 0 0 4px;
   font-size: 12px;
   color: #31353b;
}

a:link {
   color: #31353bad;
   text-decoration: none;
}

a:hover {
   color: #03ac0e;
}
/* 
.left {
   display: flex;
   align-items: center;
} */

.right {
   width: 522px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.container {
   height: 32px;
   width: auto;
   display: flex;
   background-color: #f3f4f5;
   padding: 0px 32px;
   justify-content: space-between;
   align-items: center;
}

.parent {
   display: flex;
}

.icon {
   font-size: 15px !important;
}
